.navbar {
    background-color: #18181c;
    color: white;
    padding: 0 20px;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 100;
}

.navbar .container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 95%;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: end;
    margin: 10px 20px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.nav-links li a:hover {
    scale: 1.2;
}

.burger {
    display: none;
    cursor: pointer;
}

.nav-active {
    display: flex !important;
}

@media screen and (max-width: 700px) {
    .navbar .container {
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .nav-links {
        display: none;
        flex-direction: column;
    }
    .burger {
        display: flex;
    }
}