<nav class="navbar">
  <div class="container">
    <div class="burger" (click)="toggleMenu()">☰<br></div>
    <ul class="nav-links" [class.nav-active]="isMenuOpen">
      <li><a (click)="scrollToElement('home')">{{ "navbar.button.home" | translation }}</a></li>
      <li><a (click)="scrollToElement('games')">{{ "navbar.button.games" | translation }}</a></li>
      <li><a (click)="scrollToElement('projects')">{{ "navbar.button.projects" | translation }}</a></li>
      <li><a (click)="scrollToElement('services')">{{ "navbar.button.services" | translation }}</a></li>
      <li><a (click)="scrollToElement('contact')">{{ "navbar.button.contacts" | translation }}</a></li>
    </ul>
  </div>
</nav>

<app-theme></app-theme>
