.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

  .container.dark {
    background-color: #121212;
    color: white;
  }

  .container.light {
    background-color: white;
    color: #121212;
  }

h1 {
  margin-top: 200px;
  text-align: center;
}

  h1.dark {
    color: white;
  }

  h1.light {
    color: black;
  }

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  width: 90%;
  max-width: 800px;
}

li {
  margin-bottom: 15px;
}

a {
  display: block;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 15px;
  transition: transform 0.3s ease, border-color 0.3s ease;
  transition-duration: 0.3s;
  margin: 10px;
}

  a.dark {
    color: rgba(255, 255, 255, 0.518);
  }

  a.light {
    color: rgba(0, 0, 0, 0.518);
  }


    a.light:hover {
      border-color: rgba(0, 0, 0, 0.518);
    }

  a.dark:hover {
    border-color: rgba(255, 255, 255, 0.518);
  }

  a:hover {
    transform: scale(1.1);
  }
