<div class="container" [class.dark]="currentTheme === 'dark'" [class.light]="currentTheme === 'light'">
  <h1 >Contact Me</h1>
  <div style="height: 3px; background-color: rgba(255, 255, 255, 0.269);width: 300px;box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.2); border-radius: 20px;"></div>
  <ul>
    <li><strong>GitHub:</strong> <a [class.dark]="currentTheme === 'dark'" [class.light]="currentTheme === 'light'" href="https://github.com/MiroJlassi" target="_blank">-> My GitHub Profile</a></li>
    <li><strong>LinkedIn:</strong> <a [class.dark]="currentTheme === 'dark'" [class.light]="currentTheme === 'light'" href="https://www.linkedin.com/in/marwen-jlassi-297467221/" target="_blank">-> My LinkedIn Profile</a></li>
    <li><strong>Itch.io:</strong> <a [class.dark]="currentTheme === 'dark'" [class.light]="currentTheme === 'light'" href="https://mirojlassi.itch.io/" target="_blank">-> My Itch.io Profile</a></li>
    <li><strong>YouTube:</strong> <a [class.dark]="currentTheme === 'dark'" [class.light]="currentTheme === 'light'" href="https://www.youtube.com/channel/UCKtqfo_KBwgT3ywYlzyhfTg" target="_blank">-> My YouTube Channel</a></li>
    <li><strong>DISCORD:</strong> <a [class.dark]="currentTheme === 'dark'" [class.light]="currentTheme === 'light'" >-> miro#3878</a></li>
    <li><strong>Email:</strong> <a [class.dark]="currentTheme === 'dark'" [class.light]="currentTheme === 'light'" href="mailto:marwen.jlassi@ensi-uma.tn">-> marwen.jlassi&#64;ensi-uma.tn</a></li>
  </ul>
</div>
