<style>
    .download{
        background-color: white;
        color: black;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        transition-duration: 0.2s;
        cursor: pointer;
    }
    .download:hover{
        background-color: rgba(255, 255, 255, 0.9);
    }
</style>

<div style="height: 100px;"></div>

<div style="display: flex;justify-content: center;">
    <div style="width: 90%; max-width: 1200px; display: flex;justify-content: space-between;flex-wrap: wrap;">
        <div style="width: 70%;"><img src="../../assets/Media/Gamee.jpg" alt="" style="width: 100%;border-radius: 5px;"></div>

        <div style="width: 25%;  display: flex;flex-direction: column;">
            <img src="../../assets/Media/Gamee.jpg" alt="" style="border-radius: 10px; margin-bottom: 20px;">
            <a href=""><div class="download"><h4>DOWNLOAD</h4></div></a>
            <div style="height: 10px"></div>
            <div style="display: flex; justify-content: space-between;"><p style="color: rgba(255, 255, 255, 0.7);">Platforme:</p><div style="width: 20px;"></div> <p style="text-align: end;">win</p></div>
            <div style="height: 1px; width: 100%;background-color: rgba(255, 255, 255, 0.2);"></div>
            <div style="display: flex; justify-content: space-between;"><p style="color: rgba(255, 255, 255, 0.7);">Technology:</p><div style="width: 20px;"></div> <p style="text-align: end;">UNITY C# BLENDER UNITY C# BLENDER</p></div>
            <div style="height: 1px; width: 100%;background-color: rgba(255, 255, 255, 0.2);"></div>
            <div style="display: flex; justify-content: space-between;"><p style="color: rgba(255, 255, 255, 0.7);">Release date:</p> <div style="width: 20px;"></div><p style="text-align: end;">12/23</p></div>
            <div style="height: 1px; width: 100%;background-color: rgba(255, 255, 255, 0.2);"></div>
        </div>
    </div>
</div>
