<div class="container" [class.dark]="currentTheme === 'dark'" [class.light]="currentTheme === 'light'">
  <h1 style="margin-top: 100px;">{{ "services.skills.header" | translation }}</h1>
    <div style="width: 30%; height: 3px; background-color: rgba(255, 255, 255, 0.2); margin-bottom: 50px;border-radius: 20px;"></div>
    <div style="display: flex; justify-content: space-around;flex-wrap: wrap;width: 100%; max-width: 800px;">
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px #7f3089;}</style>
            <img [src]="links['skills.c']" alt="" style="padding: 10px; background-color: #00589d; height: 100px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px #7f3089;}</style>
            <img [src]="links['skills.c++']" alt="" style="padding: 10px; background-color: #00589d; height: 100px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px #7f3089;}</style>
            <img [src]="links['skills.c#']" alt="" style="background-color: #360092; height: 120px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px white;}</style>
            <img [src]="links['skills.python']" alt="" style="background-color: white; height: 120px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px white;}</style>
            <img [src]="links['skills.java']" alt="" style=" background-color:white; height: 120px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px white;}</style>
            <img [src]="links['skills.html']" alt="" style="padding: 10px; background-color: white; height: 100px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;width: 120px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px white;}</style>
            <img [src]="links['skills.css']" alt="" style="padding: 10px; background-color: white; height: 100px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px 0px white;}</style>
            <img [src]="links['skills.javascript']" alt="" style=" background-color: white; height: 120px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px white;}</style>
            <img [src]="links['skills.php']" alt="" style=" background-color:#787cb4; height: 120px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px white;}</style>
            <img [src]="links['skills.net']" alt="" style=" background-color:#787cb4; height: 120px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
    </div>
    <h1 style="margin-top: 100px;">{{ "services.skills.mean" | translation }}</h1>
    <div style="width: 30%; height: 3px; background-color: rgba(255, 255, 255, 0.2); margin-bottom: 50px;border-radius: 20px;"></div>
    <div style="display: flex; justify-content: space-around;flex-wrap: wrap;width: 100%; max-width: 800px;">
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px #7f3089;}</style>
            <img [src]="links['skills.mongodb']" alt="" style="background-color: white; height: 120px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px #7f3089;}</style>
            <img [src]="links['skills.express']" alt="" style="height: 120px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px #7f3089;}</style>
            <img [src]="links['skills.angular']" alt="" style="background-color: white; height: 120px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px #7f3089;}</style>
            <img [src]="links['skills.nodejs']" alt="" style="background-color: white; height: 120px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
    </div>
    <h1 style="text-align: center;margin-top: 100px;">{{ "services.skills.game_engines" | translation }}</h1>
    <div style="width: 30%; height: 3px; background-color: rgba(255, 255, 255, 0.2); margin-bottom: 50px;border-radius: 20px;"></div>
    <div style="display: flex; justify-content: space-around;flex-wrap: wrap;width: 100%; max-width: 800px;">
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px #7f3089;}</style>
            <img [src]="links['skills.unity']" alt="" style="padding: 10px; background-color: white; height: 100px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px #7f3089;}</style>
            <img [src]="links['skills.godot']" alt="" style="padding: 10px; background-color: white; height: 100px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px #7f3089;}</style>
            <img [src]="links['skills.blender']" alt="" style="padding: 10px; background-color: white; height: 100px;width: 100px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px #7f3089;}</style>
            <img [src]="links['skills.flstudio']" alt="" style="padding: 10px; background-color: white; height: 100px;width: 100px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px #7f3089;}</style>
            <img [src]="links['skills.']" alt="" style="padding: 10px; background-color: white; height: 100px;width: 100px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px #7f3089;}</style>
            <img [src]="links['skills.photoshop']" alt="" style="padding: 10px; background-color: white; height: 100px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px #7f3089;}</style>
            <img [src]="links['skills.illustrator']" alt="" style="padding: 10px; background-color: white; height: 100px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px #7f3089;}</style>
            <img [src]="links['skills.aftereffects']" alt="" style="padding: 10px; background-color: white; height: 100px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
        <div style="display: flex;justify-content: center; align-items: center;flex-direction: column;margin: 10px;">
            <style>img:hover{transform: scale(1.1);;box-shadow: 0 0px 10px #7f3089;}</style>
            <img [src]="links['skills.premiere']" alt="" style="padding: 10px; background-color: white; height: 100px; border-radius: 10px;transition-duration: 0.3s;cursor: pointer;">
        </div>
    </div>
</div>
