.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.5s ease, color 0.5s ease;
}

  .container.dark {
    background-color: #121212;
    color: white;
  }

  .container.light {
    background-color: white;
    color: #121212;
  }
