<app-navbar></app-navbar>
<app-home id="home"></app-home>
<div id="games"></div>

<div style="display: flex;justify-content: center; align-items: center; flex-direction: column;">
    <h1 style="text-align: center;margin-top: 200px;">GAMES</h1>
    <div style="width: 30%; height: 3px; background-color: rgba(255, 255, 255, 0.2);border-radius: 20px;"></div>
    <div style="display: flex;justify-content: center; flex-wrap: wrap;width: 98%;">
        <app-card 
        imageUrl="../../assets/Media/title.png"
        title="RELIC ROGUE: QUEST FOR THE ANCIENTS - 2024"
        description="Triumphed at the IEEE ENSI SB GameCraft Game Jam, securing first place. This thrilling game features an innovative AI-powered final boss, dynamically adapting to players' strategies for an unpredictable gaming experience."
        link="https://github.com/MiroJlassi/GameCraft-Project-CodeSource">
        </app-card>
        <app-card 
        imageUrl="../../assets/Media/Gamee.jpg"
        title="Silicon Spectra: IEEE ENSI Edition 2023"
        description="Dive into the world of technology in this thrilling Third Person game created for the TSYP11 event - Silicon Spectra IEEE ENSI Edition. Uncover the secrets of Google, Meta, Microsoft, and more as you search for keys to progress through each giant tech company."
        link="https://mirojlassi.itch.io/silicon-spectra">
        </app-card>
        <app-card 
        imageUrl="../../assets/Media/wind!.png"
        title="WIND! - 2022"
        description="Follows the journey of Miro, a determined little kid who dreams of reaching the mountaintop near his home, despite his mother's objections. In this charming 30-minute game, players accompany Miro as he embarks on his adventure, using a paper plane to soar to new heights. Explore breathtaking views and immerse yourself in a delightful game world designed for pure enjoyment. "
        link="https://www.youtube.com/watch?v=893SDp0T_Xs">
        </app-card>
        <app-card 
        imageUrl="../../assets/Media/COVER.png"
        title="THEA! - 2022"
        description=" Living in this way, passively, disturbed her. “Why do we look like this? Why am I so heavy ? I really want to know more.” Inquired THEA protagonist, as she’s starting her journey to unravel the my mysteries of her identity. You are going to help THEA in her adventure, investigate, explore and solve puzzles, in an intriguing 2D interactive narrative experience."
        link="https://www.youtube.com/watch?v=m37biuyAlA0">
        </app-card>
        <app-card 
        imageUrl="../../assets/Media/MIuCnw.png"
        title="ESCAPE CIRCLES - 2020"
        description="thrilling arcade game where players navigate through rotating circles. Challenge your friends and strive to reach the top of the charts! Within its first 24 hours, it soared to the top 3 arcade games on the Play Store. Ready to test your skills and escape the circles? Download now!"
        link="https://mirojlassi.itch.io/escape-circles">
        </app-card>
        <app-card 
        imageUrl="../../assets/Media/Pse0tg.png"
        title="BALLS & HOLES - 2020"
        description=" Dive into the challenge of guiding your ball to the hole while dodging obstacles. Created for the Brackeys Game Jam in March 2020, this game tests your precision and reflexes. Can you navigate the maze and conquer each level? Try now and put your skills to the test!"
        link="https://mirojlassi.itch.io/ballsholes">
        </app-card>
    </div>
    <div id="projects"></div>
    <h1 style="text-align: center; margin-top: 100px;">PROJECTS</h1>
    <div style="width: 30%; height: 3px; background-color: rgba(255, 255, 255, 0.2); margin-bottom: 50px;border-radius: 20px;"></div>
    <div style="display: flex;justify-content: center; flex-wrap: wrap;width: 98%;">
        <app-card 
        imageUrl="../../assets/Media/projetweb1.png"
        title="Web Project : Tunisian Red Crescent Comite Manouba - 2024"
        description="
        The Tunisian Red Crescent Comite Manouba website is an academic project showcasing fundamental HTML, CSS, JS, and PHP skills. Designed to support and unite aid efforts for Palestinians, this platform serves as a hub for gathering assistance."
        link="https://github.com/MiroJlassi/Web-Project">
        </app-card>

        <app-card 
        imageUrl="../../assets/Media/logo color.png"
        title="ENSI 40th ANNIVERSARY Website - 2024"
        description="The ENSI 40th Anniversary website is a collaborative effort with the ENSI administration to commemorate this significant milestone. Join us as we celebrate four decades of excellence in education and innovation. Explore our journey, achievements, and the bright future ahead on this special platform."
        link="https://ensi.rnu.tn/Anniv40ENSI/index.html">
        </app-card>

        <app-card 
        imageUrl="../../assets/Media/financeprojet.png"
        title="Financial Operations App - 2023"
        description="
        The Financial Operations App is an academic endeavor aimed at implementing fundamental financial concepts, such as simple interest, through an intuitive web application. Built using HTML, CSS, and JavaScript, this project provides a hands-on learning experience in managing financial operations effectively. Explore the app to gain insights into essential financial principles in a user-friendly interface."
        link="https://github.com/MiroJlassi/Finance">
        </app-card>
        <app-card 
        imageUrl="../../assets/Media/ebank.png"
        title="E-BANK - 2023"
        description="
        E-Bank is an academic project developed to master the main features of the C language. This project enables users to create client profiles, add them to the database, and perform various transactions securely. "
        link="https://github.com/MiroJlassi/E-BANK">
        </app-card>
        <app-card 
        imageUrl="../../assets/Media/CPT.png"
        title="CMD-PROJECTS - 2023"
        description="An exciting series where I delve into the capabilities of the Command Prompt (CMD) and push its limits by creating games and immersive experiences. Join me on this journey as I explore the endless possibilities of CMD and unleash creativity in unexpected ways."
        link="https://github.com/MiroJlassi/CMD-Projects">
        </app-card>
        <app-card 
        imageUrl="../../assets/Media/musicpack.png"
        title="MUSICAL INSTRUMENT 3D PACK 2022"
        description="
        Comercial collection of 13 unique models crafted using Blender 3D. Perfect for 3D animation, game development, and more, this pack offers a versatile range of musical instruments to enhance your projects. Whether you're creating captivating animations or immersive gaming experiences, these meticulously designed models are ready to bring your vision to life."
        link="https://www.youtube.com/watch?v=iM9O6NfSCp4">
        </app-card>
    </div>
</div>
<app-services id="services"></app-services>
<app-me></app-me>
<div id="contact" style="margin-bottom: 200px;"></div>
<br><br><br><br><br>
<app-contact></app-contact>