.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  transition: background-color 0.5s ease, color 0.5s ease;
}
  .main.dark {
    background-color: #121212;
    color: white;
  }

  .main.light {
    background-color: white;
    color: #121212;
  }
h1 {
  transition-duration: 1s;
  cursor: pointer;
}

  h1:hover {
    transform:scale(1.2);
  }

.ox {
  width: 30%;
  transition-duration: 0.5s;
  cursor: pointer;
}

  .ox:hover {
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.11);
  }

  .ox img {
    transition-duration: 0.8s;
    margin-top: 20px;
  }

  .ox:hover img {
    transform: rotate(10deg);
  }

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ox {
    margin-top: 10px;
    width: 70%; 
    margin-bottom: 20px; 
  }
}
