.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.5s ease, color 0.5s ease;
  border: 2px solid red;
}

  .container.dark {
    background-color: #121212;
    color: white;
  }

  .container.light {
    background-color: white;
    color: #121212;
  }

.elements{
    width:80%;
    text-align: center;
}
.arrow-container {
  position: relative;
  width: 50px; /* Adjust the width of the container */
  height: 50px; /* Adjust the height of the container */
}

.arrow {
  position: absolute;
  margin-top: 20px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #ffffff91;
  animation: arrowAnimation 0.8s infinite alternate;
  transition-duration: 0.5s;
}

  .arrow:hover {
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 35px solid white;
    cursor: pointer;
  }

@keyframes arrowAnimation {
  0% {
    transform: translateX(-50%) translateY(0);
  }

  100% {
    transform: translateX(-50%) translateY(10px);
  }
}




