<div style="height: 100vh; display: flex; justify-content: center; align-items: center;flex-direction: column;">
    <h1>Hola! I'm MIRO.</h1>
    <h2 style="width: 80%; text-align: center;">Computer Science Engineering Student & Game Developer...</h2>
    <p style="width: 80%; text-align: center;">
        I'm a first-year Computer Science Engineering student
        with a passion for leveraging new technologies to make the world a better place.
        My favorite pastime is Game development!
        Join me on my journey to create immersive experiences
        and drive positive change through innovation.
    </p>

    <div class="arrow-container">
        <div class="arrow"></div>
      </div>
</div>