.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.5s ease, color 0.5s ease;
}

  .container.dark {
    background-color: #121212;
    color: white;
  }

  .container.light {
    background-color: white;
    color: #121212;
  }

.elements{
    width:80%;
    text-align: center;
}
.arrow-container {
  position: relative;
  width: 50px; /* Adjust the width of the container */
  height: 50px; /* Adjust the height of the container */
}

.arrow {
  position: absolute;
  margin-top: 20px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #ffffff91;
  animation: arrowAnimation 0.8s infinite alternate;
  transition-duration: 0.5s;
}

  .arrow:hover {
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 35px solid white;
    cursor: pointer;
  }

@keyframes arrowAnimation {
  0% {
    transform: translateX(-50%) translateY(0);
  }

  100% {
    transform: translateX(-50%) translateY(10px);
  }
}




.experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 20px;
}

.experience {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.company-logo {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.experience-details {
  flex: 1;
}

.company-title {
  margin: 0;
  font-size: 1.5em;
}

.position {
  margin: 5px 0;
  font-style: italic;
}

.achievements {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.achievements li {
  margin-bottom: 5px;
}

.achievements li::before {
  content: "•";
  color: #41abfd;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
